/* Remove underlines from all links */
a {
  text-decoration: none !important; /* Force browser to not show underline */
}
a:visited {
  text-decoration: none !important; /* Remove underline for visited links */
}
a:hover {
  text-decoration: none !important; /* Prevent underline on hover */
}
a:focus {
  text-decoration: none !important; /* Prevent underline on focus */
}
